.DS_Store

# Swap / temporary files
*.swp
*.swo
*~

# macOS
.DS_Store

# Editor / IDE
.vscode/
.idea/

# Node / build
node_modules/
dist/
target/

# Python
__pycache__/
*.pyc
.venv/

# Lua / Neovim
*.luac
lazy-lock.json
lazy-lock.*.json
.luarc.json

# General
tags
